* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #e2ecf6;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #4d4d5c;;
    text-decoration: none;
}

a:hover {
    color: #25262f;
}

.green {
    color: #80db66;
}


header {
    border: 0px solid red;
    background-color: #25262f;
    height: 100%;
}

.container {
    background-image: url(../assets/images/bee-hive-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    border: 0px solid red;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 50px;
}
/* .banner > div {
    width: 50%;
} */

.banner {
    border: 0px solid blue;
    display: block;
    padding: 50px 100px;
    width: 100%;
}
.banner-content {
    display: flex;
}
.banner-content div {
    border: 0px solid yellow;
    vertical-align: baseline;
}
.profile-photo {
    border: 3px solid gray;
    border-radius: 50%;
    display: block;
    transform: scalex(-1);
    margin: 70px 100px;
    padding: 0;
    width: 200px;
}
header h1 {
    color: white;
    font-size: 5rem;
}
.sub-title {
    color: #80db66;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
.job-title {
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: lighter;
    padding-bottom: 30px;
}

/* NAV */

nav {
    border: 0px solid blue;
    background-color: #36373f;
    display: block;
    margin-top: 50px;
}
nav ul {
    list-style: none;
    display: inline;
    padding-left: 0;
}
nav ul li {
    display: inline-block;
}
nav a {
    display: block;
    color: #848485;
    padding: 10px 15px;
}
nav a:hover {
    background-color: #80db66;
    color: white;
}

/* BUTTON */

.button {
    background-color: #80db66;
    color: #25262f;
    padding: 7px 20px;
}

.button:hover {
    background-color: #25262f;
    border: 1px solid #80db66;
    color: #80db66;
}

@media (max-width: 450px) {
    .container {
        padding: 10px;
    }
    .banner {
        padding: 20px;
    }
    .banner-content {
        display: block;
        width: 100%;
    }
    header h1 {
        font-size: 3.5rem;
    }
    .job-title {
        font-size: 1.2rem;
        padding-bottom: 10px;
    }
    .job-title span {
        display: block;
        padding: 10px 0;
    }
    .profile-photo {
        margin: 10px 0;
        width: 130px;
    }
}